.search_field {
	background: #FFF url(../images/search.gif) no-repeat right center;
}

.search_field_spin {
	background: #FFF url(../images/search_spin.gif) no-repeat right center;
}

.autocomplete_list * {
	font: 14px/20px "Myriad Pro", "Segoe UI", "Trebuchet MS";
}

.autocomplete_list { 
	background: #FEFEFE;
	border: 1px solid #7C7C7C;
	text-align: left; 
	z-index: 301; 
}

.autocomplete_list, .autocomplete_list ol, .autocomplete_list li { 
	list-style-type: none;
	margin: 0; 
	padding: 0;
	clear: both;
}

.autocomplete_list li {
	margin: 0; 
	text-align: left;
	cursor: pointer;
	padding: 3px 6px;
}

.autocomplete_list .current_item { 
	background: #B4D5FE;
	color: black;
}

.autocomplete_list li { 
	color: #303030;
}

.autocomplete_list span { 
	color: #111; float: right; padding-left: 2em; 
}