body { font-size:0.8em; font-family:Verdana, Geneva, sans-serif; color:#9FA8A8; margin:2px; padding:0; }
a { text-decoration:none; }
h2 { padding:0px 5px; }
#newsSection { display:table; width:100%; table-layout:initial; }
#newsSection  > .column { display:table-cell; min-width:33%; }
div.loader { text-align:center; }
ul.portlet-content { list-style-type:none; padding:0; margin:0; }
ul.portlet-content > li { overflow:auto; text-align:left; border-bottom:1px solid #3d3d3d; }
ul.portlet-content > li > a.link { float:left; width:85%; padding-left:8px; }
ul.portlet-content > li > a.comment { float:right; width:10%; }
.portlet { 
	margin: 6px; 
	-moz-box-shadow: 3px 2px 1px #111;
	-webkit-box-shadow: 3px 2px 1px #111;
	box-shadow: 3px 2px 1px #111;
}
.portlet-header { margin: 0 0.2em 0.2em 0.2em; }
.portlet-header .ui-icon { float: right; }
.portlet-content {  text-align:center; border-top:1px solid #3D3D3D; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }
.srItems img { cursor:pointer; vertical-align:middle; }
.portlet.ui-widget-content { background:url(../images/trans_black.png) repeat scroll 50% top transparent; border:1px solid #3D3D3D; color:#D9D9D9; }

.newsItem:visited { color: #666; }
.newsItem { display:block; width:100%; }
a.newsItem, a.link, a.comment  { color: #D9D9D9; opacity:0.7; }
a.comment { font-size:14px; text-align:center; }
a.newsItem:hover {opacity:1; color:#FFF; }

.fg-button { outline: 0; margin:0 4px 0 0; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
.portlet-header .ui-icon { margin-top:9px; float:right; cursor:pointer; }
/* remove extra button width in IE */
button.fg-button { width:auto; overflow:visible; }

.fg-button-icon-left { padding-left: 2.1em; }
.fg-button-icon-right { padding-right: 2.1em; }
.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
 
.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */	

/* .fg-buttonset { float:left; } */
.fg-buttonset .fg-button { float: left; }
.fg-buttonset-single .fg-button, 
.fg-buttonset-multi .fg-button { margin-right: -1px;}

.fg-toolbar { padding: .5em; margin: 0;  }
.fg-toolbar .fg-buttonset { margin-right:1.5em; padding-left: 1px; }
.fg-toolbar .fg-button { font-size: 1em;  }

/*demo page css*/
h2 { clear: both; padding-top:1.5em; margin-top:0; }  

/**
 * Overwrite for having a carousel with dynamic width.
 */
.ui-dialog .ui-dialog-content { overflow:visible; }
.ui-dialog-titlebar  { padding:0 !important; padding-left:0.3em !important; }
a { border:0; }
.itemUL div {
	/* display:inline-block; */
	border-bottom:1px solid #3d3d3d; 
	display:table-cell;
	vertical-align:middle;
	text-shadow:rgba(0,0,0,0.01) 0 0 0;
}
.itemLICenter {
	width:100%;
}
.itemLIRight {
	width:auto;	
	font-size:14px;
	text-shadow: 0 0 10px #999,  0 0 40px #555, 0 0 70px #555, 0 0 80px #555, 0 0 100px #555;
}

.itemUL:hover { background-color:#333; opacity:1; }
.ui-icon { display:inline-block; }
.ui-icon-more { width:100%; cursor:pointer; height:16px; font-size:13px; }
.ui-dialog .ui-dialog-content { overflow:visible; }
.portlet-header { background:none !important; border:none !important; }
div.portlet-header a { font-size:24px; color:#EEE; font-weight:bold; }
.ui-corner-all { -moz-border-radius: 6px !important; -webkit-border-radius: 6px !important; border-radius: 6px !important; }
#metaRedditList, #showMoreList { list-style:none; margin:0; padding:0; }
#showMoreList li { cursor:pointer; padding:4px 0; }
#moreTemplate li { white-space:nowrap; }
#metaRedditList li { cursor:pointer;
float:left;
padding:3px;
width:200px; }
#popupAdd {
	display:inline-block; 
	padding:2px; 
	font-size:12px; 
	position:absolute;	
	z-index:10001;
}
.ad-thumb-list {
	height:150px;	
}
#colorSelector {
	background:url("../images/select.png") repeat scroll 0 0 transparent;
	height:36px;
	position:relative;
	width:36px;
}
#colorSelector div {
	background:url("../images/select.png") repeat scroll center center transparent;
	height:30px;
	left:3px;
	position:absolute;
	top:3px;
	width:30px;
}
.changePic  { background:none !important; border:1px solid #3D3D3D; color:#D9D9D9; }
#customizeStrip { padding: 0px; margin:5px 0 10px; padding-left:10px; font-size:24px; /*background: transparent url(../images/ui-bg_dots-small_10_383333_2x2.png) 50% 50% repeat; */}
.imgLoader {
	background:url("../images/ajax-loader_images.gif") no-repeat scroll center center transparent;
	height:150px;
	width:100px;	
	
}
#customizeHeader { cursor:move; }

.ad-preloads { display:none; }
#showMore { height:31px; display:block; width:31px; margin:0; padding:0; }
.moreText { font-size:11px; }
#heartIcon {
left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    top: -3px;
    vertical-align: middle;
}
#showMoreList {z-index: 5000;}
