body { font-size:0.8em; font-family:Helvetica; color:#9FA8A8; margin:2px; padding:0; }
a { text-decoration:none; border:0; }
h2 { padding:0px 5px; clear: both; padding-top:1.5em; margin-top:0; }
#newsSection > div { width:100%; display:inline-block; } 
@media screen and (min-width: 900px) {
	#newsSection { 	
		-moz-column-count: 3; -webkit-column-count: 3;
    }
}
@media screen and (max-width: 655px) {
	.frontPageButtons button {
		display:none;	
	}
	.ui-block-b {
		width:auto !important;
		float:right !important;
	}
}
@media screen and (min-width: 370px) {
	.tagLine {
		display:none;	
	}
}
body, .ui-widget, #customize {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.ui-widget {
    font-size: 1.1em;
    line-height:1.8em;
}
#cboxContent:hover #cboxTitle { display:none!important; }

div.loader { background-image: url(../images/bar-loader.gif); width:126px; height:22px; margin:0px auto; }
ul.portlet-content { list-style-type:none; padding:0; margin:0; }
ul.portlet-content > li { text-align:left; border-bottom:1px solid #3d3d3d; }
ul.portlet-content > li div { border-bottom: 1px solid #3D3D3D; display: table-cell; vertical-align: middle; }
ul.portlet-content > li div.itemLICenter { width:100%; }
ul.portlet-content > li a { padding: 0 5px; color: #D9D9D9; margin: 2px; display:block; }
ul.portlet-content > li a:hover { color:#FFF; }
ul.portlet-content > li a:visited  { color: #666; }
ul.portlet-content > li > a.link { font-size:inherit; }
ul.portlet-content > li > a.comment { font-size: 12px; }

.portlet { margin: 1px;  }
.portlet-header { padding-left:7px; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }
.portlet.ui-widget-content { background:url(../images/trans_black.png) repeat scroll 50% top transparent; border:1px solid #3D3D3D; color:#D9D9D9; }

.fg-button { outline: 0; margin:0 4px 0 0; padding: .4em 0.8em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1;  font-size:14px; }
.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
/* remove extra button width in IE */
button.fg-button { width:auto; overflow:visible; }

.fg-button-icon-left { padding-left: 2.1em; }
.fg-button-icon-right { padding-right: 2.1em; }
.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
 
.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */	

/* .fg-buttonset { float:left; } */
.fg-buttonset .fg-button { float: left; }
.fg-buttonset-single .fg-button, 
.fg-buttonset-multi .fg-button { margin-right: -1px;}

.fg-toolbar { padding: .5em; margin: 0;  }
.fg-toolbar .fg-buttonset { margin-right:1.5em; padding-left: 1px; }
.fg-toolbar .fg-button { font-size: 1em;  }
 

/**
 * Overwrite for having a carousel with dynamic width.
 */
.ui-dialog .ui-dialog-content { overflow:visible; }
.ui-dialog-titlebar  { padding:0 !important; padding-left:0.3em !important; }


.ui-dialog .ui-dialog-content { overflow:visible; }
.portlet-header {  border:none !important; }
#main-page div.portlet-header a {
    color: #EEEEEE;
    font-size: 24px;
    font-weight: normal;
    line-height: 35px;
}
div.portlet-header img, highlightOff { opacity:0.8; }
div.portlet-header img:hover, .highlightOn { opacity:1; }
.portlet-content {  text-align:center; border-top:1px solid #3D3D3D; }
.ui-corner-all { -moz-border-radius: 6px !important; -webkit-border-radius: 6px !important; border-radius: 6px !important; }
#showMoreList { margin:0; padding:0; }
#showMoreList li { cursor:pointer; padding:4px 0; font-size:16px; text-align:right; }
#showMoreList li:hover { background-color:white; }
#showMoreUL { list-style:none; margin:0px; padding:0; }
#moreTemplate li { white-space:nowrap; }
#metaRedditDialog { 
    border: 0 none;
    width:530px; 
	border:1px solid #FFF; 
    left: 50%;
    margin: -50px 0 0 -250px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    z-index: 20000;	
}
#loadingOverlay {
    background-color: #111111;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 10000;
	opacity:0.8;
}
#metaRedditDialog .fg-button { float:none; }
#popupAdd {
	display:inline-block; 
	padding:2px; 
	font-size:12px; 
	position:absolute;	
	z-index:20000;
	width:300px;
}
input.ui-input-text, textarea.ui-input-text { width:83% !important; }
.ad-thumbs { height:150px; }
.vertical { position:absolute; top:5em; width:100%; z-index:100; }
.vertical > .loader { z-index:100; }
.ad-thumb-list {
	height:100%;
}
#colorSelector {
	background:url("../images/select.png") repeat scroll 0 0 transparent;
	height:36px;
	position:relative;
	width:36px;
}
#colorSelector div {
	background:url("../images/select.png") repeat scroll center center transparent;
	height:30px;
	left:3px;
	position:absolute;
	top:3px;
	width:30px;
}
.changePic  { background:none !important; border:1px solid #3D3D3D; color:#D9D9D9; }
#customizeStrip {
    display: block;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    font-size: 20px;
    height: 31px;
    margin: 5px 0 10px;
    padding: 0 0 0 5px;
}

.imgLoader {
	background:url("../images/ajax-loader_images.gif") no-repeat scroll center center transparent;
	height:150px;
	width:100px;	
	
}
#customizeHeader { cursor:move; }

.ad-preloads { display:none; }
#showMore, #searchButton { height:31px; width:31px; margin:0; padding:0; }
.moreText { 
	font-size:11px;
  	height: 18px;
    position: relative;
    top: -5px;
    width: 15%;
}
.readMore { height:18px; }
.readMore div { display:inline-block; }
.moreIcon { vertical-align:middle; margin-left:5px; }
#searchField { float:left; }
#customizeDialog { 
    border: 0 none;
    width:530px; 
	border:1px solid #ffdab9; 
    left: 50%;
    margin: -50px 0 0 -250px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    z-index: 20000;		
}
.portletButton {
	width:46px; 
	float:right; 
	
	border-bottom:1px solid #3A3A3A; 
	border-left:2px solid #3A3A3A;
}
.portletButton, .portletButton div {
	height:30px; 
}

#showMore, #showMore div {
	width:30px;
	height:31px;
	float:right;
	display:inline;
}
.buttonBackground {
	background:url(../images/headersBG.png) repeat scroll 50% 50% transparent;
}
.buttonBackground div {
	opacity:0.1; 
	display:block; 
}
.buttonBackground:hover div {
	opacity:0.5; 
}

.ui-body-c {
	background:none !important;
	text-shadow:none !important;
}

.viewMoreList div { display:block; cursor:pointer;  }
.viewMoreList .ui-state-active { color:yellow; }
div.fg-buttonset .fg-button.ui-state-active { 
	border: 1px solid #096AC8;
    color: #75ABFF;
    font-weight: bold;
}